@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {height: 100%;}
body {
    background: #DCDCDC;
    background-size: 100% 100%, auto;
    font-family: "Arial";
}
* {margin:0; padding:0;}

/*=============header===========*/
header { background:#9C4517; clear:both; padding:30px 0 30px 0; }
h2 { font-size:22px; line-height:1em; font-weight:bold; color:#000000; text-align:center; }
